:root {
    color-scheme: light dark;
    font-family: Arial, Helvetica, sans-serif;
}
  
@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
    button { background-color: #8d8d8d15; }
    button:hover { background-color: #e2dbdb75; }
}
  
@media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
    button { background-color: #ebebebdc; }
    button:hover { background-color: #8b8b8be0; }
    button span.buttonText:hover {color: white}
}

button {
    padding: 14px;
    font-size: 14px;
    border: none;
}